PORT=3000
NODE_ENV=development

# i18n
FALLBACK_LANGUAGE=en

# db
MONGO_URI=mongodb://localhost:27017/airbnb-clone

# JWT
JWT_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRE_IN=
refreshTokenExpireIn=
